arithmetic-compressor==0.2
bitarray==2.8.1
bitstring==4.1.2
contourpy==1.1.0
cycler==0.11.0
dahuffman==0.4.1
fonttools==4.42.1
huffman==0.1.2
kiwisolver==1.4.5
matplotlib==3.7.3
numpy==1.25.2
opencv-python==4.8.0.76
packaging==23.1
Pillow==10.0.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-rle==0.0.3
rarfile==4.1
six==1.16.0
tqdm==4.66.1
Wave==0.0.2
